.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
**/local.properties
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/xcuserdata/
.DS_Store
